# Ignoră baza de date SQLite
db.sqlite3
db.sqlite4

# Ignoră directorul media/avatar
Backend/media/avatar
Backend/media/banner
Backend/media/car
Backend/media/servicii
Backend/static
nginx/

# Ignoră directorul .idea
.idea
venv
